<div class="mt-4">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="container_profile">
                <button class="btn_action btn_profile">View my profile</button>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">
            <h2 class="text_show__name">{{member.name}}</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315"
                    src="https://www.youtube.com/embed/{{member.videoid}}" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p>
                The Best Full UPPER BODY Workout For Max Muscle Growth (Science Applied)<br>
                About me: I'm a Canadian natural pro bodybuilder and internationally-qualified powerlifter with a BSc in
                biochemistry/chemistry and a passion for science. I've been training for 12 years drug-free. I'm 5'5 and
                fluctuate between 160 lbs (lean) and 180 lbs (bulked).<br>
                Disclaimers: Jeff Nippard is not a doctor or a medical professional. Always consult a physician before
                starting any exercise program. Use of this information is strictly at your own risk. Jeff Nippard will
                not assume any liability for direct or indirect losses or damages that may result from the use of
                information contained in this video including but not limited to economic loss, injury, illness or
                death.
            </p>
        </div>
    </div>
</div>