@import 'variables';
html{
    font-size: 75%;
}
// form select
.form-select:focus{
    box-shadow: none;
}
//
.selector-for-some-widget {
    box-sizing: content-box;
  }
.justify_flex{
    justify-content: flex-end;
}
.text_center{
    display: flex;
    justify-content: space-around;
}
.me-auto{
    margin-left: auto !important;
}
.container{
    height: 100%;
}
.card{
    border: none;
}
a:hover {
    text-decoration: none;
}
.btn_action{
    display: flex;
    outline: none;
    border-radius: 4px;
    border: none;
    background-color: $background_color;
    color: $color_white;
    cursor: pointer;
    padding: 8px 6px 8px 6px;
}
.nav-link{
    padding: 0 6px 0 6px;
}
