$background_color: #343a40;
$color_white: #ffff;
$color_trans: rgba(255,255,255,.5);
$color_dark:#151515;
$alert_color: #ebc0b9;
$mixin_blue: #55acee;
$valid_red: red;
$text_color: #4EB1BA;
$gray_color: #939393;