@import 'variables';
@import 'base';
a:hover{
    text-decoration: none;
}
.navbar_brand__fontSize{
    font-size: 2rem;
}
.card_space__top{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card_space__top:hover{
    transform: translateY(-6.5px);
    transition: .8s ease;
}
.container_img:hover{
    opacity: 0.7;
}
.container_img{
    max-height: 214px;
    width: 100%;
    object-fit: contain;
}
.card_body__container{
    text-align: center;
}
.btn_profile{
    margin: 0 auto;
    margin-top: 8px;
}
.nav_link__top{
    margin-top: 7px;
    font-size: 1.2rem;
}
.container_profile{
    background-image: url('https://images.wallpaperscraft.com/image/bodybuilding_fitness_barbell_sport_102746_1366x768.jpg');
    min-height: 100vh;
    background-attachment: scroll, fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}
.text_show__name{
    color: $color_dark;
}
.footer_flex{
    justify-content: space-between;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown_maker::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 100px;
    color: black;
    top: 100%;
    left: 0;
}

.slug_hover__text{
    text-decoration: none;
    color: $color_dark;
}
// flex box
@mixin flexBox($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}
.heading_upload{
    @include flexBox(space-between);
    &__trash{
    font-size: 1.4rem;
    color: $background_color;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    &:hover{
        transform: scale(1.5);
    }
    }
}
.heading_trash{
    @include flexBox(space-between);
    &__return{
        text-decoration: none;
        color: $background_color;
        &-icon{
            font-size: 1.1rem;
            transition: cubic-bezier(0.86, 0, 0.07, 1) 0.3s;
        }
        &:hover .heading_trash__return-icon{
            transform: scale(1.2);
        }
    }
    &-text{
        font-size: 0.8rem;
        padding-right: 8px;
    }
}
.form_control__weight{
    max-width: 200px;
    margin: 0 14px 0 30px;
}