@import 'variables';
@import 'base';
a:hover{
    text-decoration: none;
}
.navbar_brand__fontSize{
    font-size: 2rem;
}
.card_space__top{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card_space__top:hover{
    transform: translateY(-6.5px);
    transition: .8s ease;
}
.container_img:hover{
    opacity: 0.7;
}
.container_img{
    max-height: 214px;
    width: 100%;
    object-fit: contain;
}
.card_body__container{
    text-align: center;
}
.btn_profile{
    margin: 0 auto;
    margin-top: 8px;
}
.nav_link__top{
    margin-top: 7px;
    font-size: 1.2rem;
}
.container_profile{
    background-image: url('https://images.wallpaperscraft.com/image/bodybuilding_fitness_barbell_sport_102746_1366x768.jpg');
    min-height: 100vh;
    background-attachment: scroll, fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}
.text_show__name{
    color: $color_dark;
}
.footer_flex{
    justify-content: space-between;
}


.nav_item__hover{
    cursor: pointer;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown_maker::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 100px;
    color: black;
    top: 100%;
    left: 0;
}

.slug_hover__text{
    text-decoration: none;
    color: $color_dark;
}
