@import 'variables';
@import 'base';
a:hover{
    text-decoration: none;
}
.navbar_brand__fontSize{
    font-size: 2rem;
}
.card_space__top{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card_space__top:hover{
    transform: translateY(-6.5px);
    transition: .8s ease;
}
.container_img:hover{
    opacity: 0.7;
}
.container_img{
    width: 100%;
    object-fit: contain;
}
.card_body__container{
    text-align: center;
}
.btn_profile{
    margin: 0 auto;
    margin-top: 8px;
}
.nav_link__top{
    margin-top: 7px;
    font-size: 1.2rem;
}
.container_profile{
    background-image: url('https://images.wallpaperscraft.com/image/bodybuilding_fitness_barbell_sport_102746_1366x768.jpg');
    min-height: 100vh;
    background-attachment: scroll, fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}
.text_show__name{
    color: $color_dark;
}
.footer_flex{
    justify-content: space-between;
}
.dropdown_maker::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 100px;
    color: black;
    top: 100%;
    left: 0;
}

.slug_hover__text{
    text-decoration: none;
    color: $color_dark;
}
// flex box
@mixin flexBox($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}
.heading_upload{
    @include flexBox(space-between);
    &__trash{
    font-size: 1.4rem;
    color: $background_color;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    &:hover{
        transform: scale(1.5);
    }
    }
}
.heading_trash{
    @include flexBox(space-between);
    &__return{
        text-decoration: none;
        color: $background_color;
        &-icon{
            font-size: 1.1rem;
            transition: cubic-bezier(0.86, 0, 0.07, 1) 0.3s;
        }
        &:hover .heading_trash__return-icon{
            transform: scale(1.2);
        }
    }
    &-text{
        font-size: 0.8rem;
        padding-right: 8px;
    }
}
.form_control__weight{
    max-width: 200px;
    margin-right: 14px;
}

// css news

.layout_news__img{
    max-height: 200px;
    width: 100%;
    object-fit: fill;
}
.layout_slide{
    &__img{
        max-height: 300px;
        width: 100%;
        object-fit: fill;
    }
}
.img_thumnail__list{
    max-width: 120px;
    &-edit{
        max-width: 200px;
    }
}
.truncate_text{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


// .background_container{
//     background-image: url(/img/container_profile__img.jpg);
//     background-attachment: fixed;
//     background-repeat: no-repeat;
// }

@media screen and (max-width: 600px) {
    .hideRaw {
        display: none;
    }
}

// for iphone
@media screen and (max-width:414px) {
    .layout_news__img{
        max-height: 250px;
        max-width: 100%;
    }
}
@media screen and (max-width: 540px) {
    .layout_news__img{
        height: 250px;
        max-width: 100%;
    }
}

@media all and (min-width: 992px) {
	.dropdown-menu{
        & li{ 
            position: relative;
            }
    } 
	.nav-item {
        & .submenu{ 
            display: none;
            position: absolute;
            right:100%; top: -8px;
        }
    }
	.nav-item {
        & .submenu-left{ 
            right:100%; left:auto;
            }
    }
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
    margin-left:0.7rem;
    margin-right:0.7rem;
    margin-bottom: .5rem;
  }
}