<div class="mt-2">
    <form method="GET">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search everything</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="key word">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>