<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container color_white">
        <img src="/img/logo.jpg" alt="" width="34" height="34" class="d-inline-block align-text-top">
        <a class="navbar-brand navbar_brand__fontSize text-white" href="/">Edu Fitness</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify_flex" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav_link__top text-white" href="/members/create">Create membership</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle nav_link__top text-white" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/all/uploaded/members">All Members</a></li>
                        <li><a class="dropdown-item" href="/news">News</a></li>
                        <li><a class="dropdown-item" href="/listmembers">List Members</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled nav_link__top" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>