<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand navbar_brand__fontSize" href="/">Fitness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link nav_link__top" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_link__top" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_link__top" href="/members/create">Create membership</a>
            </li>
    </div>
</nav>