<div class="mt-4">
    <h3>
        Post News
    </h3>
    <form method="POST" action="/news/successfully" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title News</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea name="content" id="content" rows="10" class="fr-view" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="string" class="form-control" id="category" name="category">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="string" class="form-control" id="author" name="author">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" name="image" class="form-control" id="image">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>